/* Options Framework Admin Styles */

.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
.postbox{
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#opshui {
	position:relative;
	z-index: 0;
	max-width:840px;
	/*background:#fff;*/
}
#opshui h3 {
	cursor: default;
}
#opshui p {
	margin-bottom:0;
	padding-bottom:10px;
	line-height: 1.4em;
}
#opshui .section {
	position: relative;
	padding:30px 10px 0 270px;
}
#opshui .group {
	padding-bottom:40px;
}
#opshui .section .heading {
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 14px;
	padding: 0 20px;
	width: 230px;
	/*border-bottom: 1px solid #dfdfdf;*/
}
#opshui .section .controls {
	/*float: left;*/
	min-width:350px;
	width: 90%;
	padding-right:2%;
}
#opshui .section .explain {
	clear: both;
	/* max-width:38%;
	float: left; */
	font-size: 12px;
	line-height:16px;
	color: #777;
}
#opshui .section-checkbox .controls {
	width: 98%;
}
#opshui .section-checkbox .explain {
	max-width:94%;
}
#opshui .controls select, #opshui .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#opshui .section-radio label, #opshui .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#opshui input.checkbox, #opshui input.hui-radio {
	/*width: 30px;*/
	margin-top:0;
	float:left;
	clear:both;
}
#opshui .section-typography .controls {
	float:none;
	width:auto;
}
#opshui .section-typography .explain {
	float:none;
	width:auto;
	clear: both;
}
#opshui .controls .hui-typography-size {
	width:80px;
	float:left
}
#opshui .controls .hui-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#opshui .controls .hui-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#opshui .controls .hui-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#opshui .hui-background-properties {
	clear:both;
	margin-top: 18px;	
}
#opshui .controls .hui-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#opshui .controls .hui-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#opshui .controls .hui-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#opshui .section-background .wp-picker-container {
	margin-bottom:10px;
}
.hui-radio-color{
	display: inline-block;width: 20px;height: 20px;margin: 0 5px 0 0;
}
#opshui .controls .hui-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#opshui .controls .hui-radio-img-selected {
	border:3px solid #ccc
}
#opshui .controls .hui-radio-img-img:hover {
	opacity:.8;
}
#opshui .controls .hui-border-width {
	width:80px;
	float:left
}
#opshui .controls .hui-border-style {
	width:120px;
	float:left
}
#opshui .hide {
	display:none;
}
#opshui .hui-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#opshui .mini .controls select, #opshui .section .mini .controls {
	width: 140px;
}
#opshui .mini .controls input, #opshui .mini .controls {
	min-width:140px;
	width: 140px;
}
#opshui input[type="text"] { width: 59%; }
#opshui .mini .explain {
	max-width:74%;
}

/* Editor */

#opshui .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#opshui .controls input.upload {
	width:80%;
}
#opshui .controls input.upload_button {
	float:right;
	border-color:#BBBBBB;
	cursor:pointer;
}
#opshui .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#opshui .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#opshui .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#opshui .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#opshui .screenshot .no_image .file_link {
	margin-left: 20px;
}
#opshui .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#opshui .reset-button {
	/*float:left;*/
	cursor:pointer;
}

/* Bottom Section */

#opshui-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#opshui .button-primary {
	/*float:right;*/
}
#opshui .section:after {
	content: "";
	display: table;
}
#opshui .section:after {
	clear: both;
}
#opshui .wp-picker-container{margin-top: 2px;}
#opshui .iris-picker{position: absolute;z-index: 9999}
.metabox-holder {
/*float: left;*/
/*width: 780px;*/
}
.extra-metabox {
width: 300px;
margin-left: 30px;
}

#rate-this-theme {position: relative;}
#large-image-rate {
position: absolute;
z-index: 99999;
border: 5px solid #bfbfbf;
}

#opshui-metabox{position: relative;}
.opshui-sidebar{position: absolute;right: 0px;top: 20px;}
.opshui-sidebar-widget{margin-bottom: 10px;}
.opshui-sidebar-widget img{display: block;}