body{font-size:15px;line-height:25px;word-wrap:break-word;font-family: microsoft yahei}
img{margin: 5px 0; display:block;max-width:100%;height:auto}
h3, h4ï¼Œh5{border-bottom:#eee 1px solid;padding-bottom:5px;margin-bottom:16px;color: #444;}
h2{font-size:18px;font-weight:normal;margin:16px 0;padding:10px 0;line-height:18px;border-bottom: 1px solid #eee;color: #444;}
h3{font-size:16px;padding-bottom: 0;}
h4{font-size:15px}
h5{font-size:14px}
ul, ol{margin:0 0 16px 0}
p{margin-bottom:16px;text-indent: 30px;}
pre{word-wrap:break-word}
table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:16px}
table th{background-color:#f9f9f9;text-align:center}
table td, table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.alignnone{margin:0 auto;}
.alignleft{float:left;text-align:left;margin-right:10px}
.aligncenter{margin: 0 auto;text-align: center;display: block;}
.alignright{float:right;text-align:right;margin-left:10px}
.wp-caption{margin-bottom: 20px;background-color: #f6f6f6;padding: 10px 10px 1px;}
.wp-caption img{margin: 0 0 5px;}
.wp-caption p{margin-bottom: 10px;}
.wp-caption.alignnone{text-align: center;}
.wp-caption-text{}
.wp-caption:hover{}
.wp-caption:hover .wp-caption-text{color: #FF5E52;}
a{color:#428bca;text-decoration:underline}
a:hover{color:#FF5E52}

pre{margin:15px auto;font:12px/20px 'courier new';border:1px solid #d6d6d6;border-left-width:4px;background:#fbfbfb;padding:10px 15px}
blockquote{margin:15px auto;border:1px solid #e6e6e6;border-left-width:3px;padding:15px 27px 10px;background-color:#fbfbfb;font-size:14px;line-height: 20px;clear: both;}
blockquote p{margin:0;padding:0;margin-bottom:5px;font-size:14px;line-height: 20px;text-indent: 0;}
